<ion-content>
  <div class="main_content_div" id="main_content_div">
    <!-- <ion-buttons slot="start" class="menu_btn">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="start" class="menu_btn">
      <ion-button (click)="generatePdf()" color="danger">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="user_div">
      <div class="first_user_div">
        <ion-label class="welcome">Hola profesor!</ion-label>
        <ion-label class="username">Komalram, Carlyle</ion-label>
        <ion-label class="lastlogin">07/21/2022 1:05 a.m</ion-label>
      </div>
      <div class="user_photo" [style.backgroundImage]="'url(assets/example_profile.jpg)'">

      </div>
    </div>
    <div class="content_div animated bounceInUp">
      <ion-label class="hellolabel">Seleccione una opción: </ion-label>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" (click)="irOpcion(asignatura)" *ngFor="let asignatura of asignaturas ">
            <div class="col_div">
              <img src="assets/asignatura/{{asignatura.avatar}}" alt="">
              <ion-label>{{asignatura.nombre}}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div id="pdfagenda" hidden="true">
      <h2 style="text-align: center;justify-content: center;">Instituto Docademi </h2>
      <div style="display: flex;flex-direction: row;justify-content: space-between;">
        <h3> Grupo: <b>1er A</b></h3>
        <h2> prueba pdf generator</h2>
        <h3> 08/06/2022 11:05 p.m</h3>
      </div>

      <div
        style="display: flex;flex-flow: row wrap; justify-content: space-around; padding: 0; margin: 0; list-style: none; gap: 40px 20px;">
        <div
        *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]; let i = index"
          style="background: tomato;padding: 5px; width: 500px; height: 350px;margin-top: 30px;margin-bottom: 30px; color: black; font-weight: bold;font-size: 18px; text-align: left; border-color: black;border: 1cm;">
          <p> Fecha(dd/mm/yyyy): 06/08/2022</p>
          <p> Materia: Español Alexander Agrazal - 6 agosto 2022 11:42 p.m</p>
          <p> Tema: Silaba Tonica</p>
          <p> Actividades: Se empezará el tema de silaba tonica y trabajarpan en libro de texto.</p>

          <p> Evaluación: Sumativa</p>
          <p> Observaciones: Detalles acerca de la actividad...</p>
          <p>Enlaces: https://google.com - {{ i }}- </p>
        </div>
      </div>

    </div>
  </div>
</ion-content>


<!-- <ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
  <ion-buttons slot="end">
    <ion-button (click)="logout()"
                color="danger">
      <ion-icon slot="icon-only" name="exit"></ion-icon>
    </ion-button>
  </ion-buttons>
      <ion-title>
        Administrar Clases
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar value="" [(ngModel)]="valorBuscado" (ionChange)="buscar()"></ion-searchbar>
  <ion-item *ngIf="actividades.length<1" color="danger">
    <ion-label>No se encontraron registros.</ion-label>
  </ion-item>
  <ion-list>
    <ion-item-sliding *ngFor="let actividad of actividades;let i = index">
      <ion-item-options side="start">
        <ion-item-option color="secondary" (click)="editarActividad(actividad,i)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/asignatura/{{actividad.avatar}}" />
        </ion-avatar>
        <ion-label>
          <h3>{{ actividad.grupo}}</h3>
          <p>{{ actividad.asignatura}}</p>
          <p>{{ actividad.nombre}}</p>
          <p class="ion-text text-small">{{ actividad.fecha}}</p>
          <p class="ion-text text-small">{{ actividad.observaciones}}</p>
        </ion-label>
        <ion-label slot="end">
          <ion-img class="pick-ver" src="/assets/vermas.png" (click)="verMas(actividad)"></ion-img>
        </ion-label>
      </ion-item>

      <ion-item-options side="end" >
        <ion-item-option color="danger" (click)="borrarActividad(actividad)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="full" (click)="agregarActividad()">Agregar Actividad</ion-button>
  </ion-toolbar>
</ion-footer> -->
