/*CSS de listado de actividades*/
.pick-ver {
  width: 80px;
  }


  .text-small{
    font-size: 12px;
  }

  ion-toolbar{
    --background: #3171e0
  }
  ion-title{
    color: #fff
  }
  ion-back-button{
    color: #fff
  }
  ion-button{
    --background: #3171e0;
    font-weight: 700;
  }

  .menu_btn{
    position: relative;
   font-weight: 700;
    top: 40px;
    left: 10px;
    // z-index: 1;
  }
