<ion-content>
  <div class="wrapper">
    <div class="logo">
      Doca<span>demi</span>
    </div>
    <div class="tag_line">
      Plataforma Educativa en la nube para la gestión de cursos y asignaciones entre docentes y estudiantes.
    </div>
    <div class="triangulo">
      <div class="triangulo_bottomr"></div>
      <div class="triangulor"></div>
    </div>
    <div class="box">
      <h2>Crear Cuenta</h2><hr>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" placeholder="ingrese nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" placeholder="ingrese apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="text" placeholder="ingrese correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" placeholder="ingrese contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Celular</ion-label>
        <ion-input type="text" placeholder="ingrese celular"></ion-input>
      </ion-item>

      <div class="btn_box">
        <button type="submit" class="btn_submit">
            Registrarse
        </button>
      </div>
      <p>Registrate utilizando tus redes sociales</p>

      <div class="social_login">
          <div class="facebook">
            <ion-icon name="logo-facebook"></ion-icon>
          </div>
          <div class="google">
            <ion-icon name="logo-google"></ion-icon>
          </div>
          <div class="insta">
            <ion-icon name="logo-instagram"></ion-icon>
          </div>

      </div>
    </div>

    <div class="bottom">
      <p>¿Ya tienes cuenta?</p>
      <div class="btn_bottom">
        <button id="loginbtn" type="submit" >
            Iniciar Sesión
        </button>
      </div>
    </div>
  </div>
</ion-content>
